/* .masked-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
 
  }

  .masked-text {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    background: url('../assets/newgif.gif') center center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  } */